body {
}

.border-free-table td, th {
    border: 0 !important;    
}

div#container {
    margin : 0 auto;
    width : 700px
}

table {
    border : 1px solid #000;
}

div#footer {
    clear       : both;
    font-size   : 12px;
    padding-top : 0px;
    text-align  : center;
}
